# Ignore files for CKB Voting DApp

deployment/

# Dependencies
node_modules/
.pnpm-store/
.vite/

# Build outputs
dist/
build/
backend/contracts-rust/target/
frontend/src/dist/
.cache/
.turbo/
.ts-node/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.pid
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
*.bak
*~
.vercel/

# Documentation
*.md
!README.md
z_contracts/
!ckb_weekly_update.md
